<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css"> 
    <link rel="stylesheet" href="/static/css/leaderboard.css">
    <title>Leaderboard</title>
</head>
<body>
    <div id="container">
        <h1 class="logo">Water-U-Doing?</h1>
        <h2 class="page-header">Leaderboard</h2>
    <style type="text/css">

        </style>
        <table class="tg">
        <colgroup>
        <col style="width: 60px">
        <col style="width: 200px">
        <col style="width: 150px">
        <col style="width: 110px">
        </colgroup>
        <thead>
            <tr>
            <th class="tg-head"><span style="font-weight:bold">Rank</span></th>
            <th class="tg-head"><span style="font-weight:bold">Username</span></th>
            <th class="tg-head"><span style="font-weight:bold">Score</span></th>
            <th class="tg-head"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
            <td class="tg-entry">{{ forloop.counter }}</td>
            <td class="tg-entry">{{ user.user }}</td>
            <td class="tg-entry">{{ user.score }}</td>
            <td class="tg-profile"><a href="{{ user.result_url }}">View Profile &gt;&gt;</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>

    
      <div class="header">        
        <!--Waves Container-->
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
        </div>
        <!--Waves end-->
        
        </div>
</body>
</html>