{% extends 'base.html' %}
{% block title %}Evaluate{% endblock %}
{% block page-header %}Evaluate Water Usage{% endblock %}

{% block container %}
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit">
</form>

<div id="form-box">
    <i id="prev-btn" class="fas fa-arrow-left"></i>
    <i id="next-btn" class="fas fa-arrow-right"></i>
    <div id="input-group">
      <input id="input-field" required>
      <label id="input-label"></label>
      <div id="input-progress"></div>
    </div>
    <div id="progress-bar"></div>
  </div>
</div>
    
<script src="/evaluate/main.js"></script>
{% endblock %}
