@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.main-title {
    position: absolute;
  width: 100vw;
  top: 20vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px
 

}
line{
    border-bottom: 1px black solid;
    height: 25px;
    width: 100%;
  }
  
  .brightness{
    filter: brightness(50%);
  }
  .photo {
      height: 400px;
      width: 800px;
      object-fit: cover;
  }
  .description {
    
    color: black;
   
font-size: 20px;
flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  
  }
  
  .dishwasher{
      
      width: 500;
     
  }
  .header {
      align-items: center;
      font-size: 20px;
      display: flex;


  }
  .about{
    margin: 50px;
    display: flex;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
  }
  .about-title{
    padding: 0 20px;
    font-family: 'Kalam';
    font-size: 30;
    font-weight: 600;
    text-align: center;
  }
  .about-title-lines{
    display: flex;
    justify-content: space-evenly;
   
  }
  .line{
    border-bottom: 1px black solid;
    height: 40px;
    width: 85%;
    margin: auto;
  }

  .about-group{
    height: 30%;
    width: 80%;
    background-color: #d9ead3ff;
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat';
    background-position: right;
    margin: auto;
    font-size: 25px;
    
  }

.about-page {
    height: 45%;
    width: 50%;
    background-color: beige;
    padding: 40px;
    font-size: 20;
    top: 30px;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  


}
.about-pic{
    width: 20%;
    object-fit: cover;
    margin:auto;
  }
.tap {
height: 25%;
margin:auto;
}
#card1 {display:inline-block;margin-right:200px} 
#card2 {display:inline-block; margin-right:200px}
#card3 {display: inline-block} 
.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}
.cardTitle {
    margin: auto;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}