<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Water U Doing</title>
</head>

<body>
    <h1 class="title text-center py-3">Water U Doing</h1>
    <h2>Account Management</h2>
    <p>Welcome, {{ user }}</p>
    <ul>
        {% if user.is_authenticated %}
        {% if user.is_staff %}<li><a href="/admin/">Admin Panel</a></li>{% endif %}
        <li><a href="{% url 'password_change' %}">Change password</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
    </ul>
    <h2>Pages</h2>
    <ul>
        <li><a href="{% url 'evaluate' %}">New Evaluation</a></li>
        <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
    </ul>
    <p>Average person uses {{ avg_low }}-{{ avg_high }} gallons of water per week.</p>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/main.css"> 
    <title>Water-U-Doing?</title>
</head>
<body>
<button>
<a href="#about">ABOUT </button>
<button>
<a onclick="window.location.href='waterudoing/landing/templates/registration/login.html';">
    SUBMIT FORM</a> </button>
    <button>
    <a onclick="window.location.href='waterudoing/landing/templates/registration/signup.html">
        CREATE PROFILE</a> </button>
        <button> <a onclick="window.location.href='waterudoing/leaderboard/templates/leaderboard.html';">
            LEADERBOARD</a> </button>
            


<body>
<img width = 110% height = 50% src = /static/images/ocean.jpg class = "brightness">
<div class="main-title">
<h1>Water You Doing?</h1>
<br>
<p>The web app that brings the fun to preserving your water!</p>

</div>
<style>
body {
  background-image: url('/static/images/watercons.jpg');
}
</style>

</div>
<p style = "position:relative; left:-5px; top:-20px;"> <div
 class = "description";></div>
 <div class = "about-title-lines">
   </div>
   <div class = "line">
 <div class = "about-title"> Did you know? </div>
   </div>
     <div class = "about-group">
    The average family can waste 180 gallons per week, or 9,400 gallons of water annually, from household leaks. That's equivalent to the amount of water needed to wash more than 300 loads of laundry. Household leaks can waste approximately nearly 900 billion gallons of water annually nationwide. </p></div>
    <a class="btn btn-primary" href="https://www.epa.gov/watersense/statistics-and-facts#:~:text=The%20average%20family%20can%20waste,gallons%20of%20water%20annually%20nationwide." role="button">Link</a>
 <br>
 <div class = "cardTitle">Here are some ways you can stop wasting water!</div>
 <div id = "card1" class="card" style="width: 18rem;">
    <img class="card-img-top" src="tap.jpg" alt="Card image cap">
    <div color= "black" class="card-body">
      <h5 class="card-title">Turn off the tap!</h5>
      <p class="card-text">Turn off the tap when you're brushing your teeth. You can save 8 gallons by doing so every morning and night and 200 gallons a month.</p>
      <a href="https://blog.epa.gov/2014/04/23/earth-month-tip-turn-off-the-tap/" class="btn btn-primary">Source</a>
    </div>
  </div>
  <div id="card2" class="card" style="width: 18rem;">
    <img class="card-img-top" src="sink.jpg" alt="Card image cap">
    <div color= "black" class="card-body">
      <h5 class="card-title">Fill your sink when shaving!</h5>
      <p class="card-text">When washing or shaving, partially fill the sink and use that water rather than running the tap continuously. (This saves about 60% of the water normally used.)</p>
      <a href="https://thewaterproject.org/water_conservation_tips" class="btn btn-primary">Source</a>
    </div>
  </div>
  <div id="card3" class="card" style="width: 18rem;">
    <img class="card-img-top" src="lawn.jpg" alt="Card image cap">
    <div color= "black" class="card-body">
      <h5 class="card-title">Don't constantly water your lawn!</h5>
      <p class="card-text">Water lawns every three to five days, rather than for a short period every day. In warm weather, apply 5 millimetres of water for each day since the last watering.</p>
      <a href="https://thewaterproject.org/water_conservation_tips" class="btn btn-primary">Source</a>
    </div>
  </div>
  <div class = "line">
     </div>
    <div class = "about-title"> About </div>
<a>
    <div 
class = "about-page" id="about"> What is this website about? We want to promote the idea of water conservation and motivate individuals to use their water more efficiently. Through our website, users can compete to see who conserves the most water using their own data! Users fill out forms asking about their various water usage and are judged based on how low it is. By creating an atmosphere of competition, we hope it pushes for more water conservation and brings awareness to the signficance of preserving water.</div>
</a>
</div>
</div>
</div>
</div>

<body style = "background-color: lightblue;">

<body style = "width: 1000px"></body> 


</body>
</body>
<script src="/static/js/home.js'"></script>

</html>